This python notebook imports intraday prices every hour in year 2024 and calculates the price change at every hour

In [15]:
import pandas as pd

In [16]:
df_eth= pd.read_csv('us_2024_ticker combined versions/ETHUSDT_Combined.csv')
df_eth['PriceChange']=((df_eth['<CLOSE>']-df_eth['<OPEN>'])/df_eth['<OPEN>'])*100
df_eth.to_csv('us_2024_ticker combined versions/ETHUSDT_Combined_WithPriceChange.csv')

In [17]:
df_qqq = pd.read_csv('us_2024_ticker combined versions/QQQ_Combined.csv')
df_qqq['PriceChange']=((df_qqq['<CLOSE>']-df_qqq['<OPEN>'])/df_qqq['<OPEN>'])*100
df_qqq.to_csv('us_2024_ticker combined versions/QQQ_Combined_WithPriceChange.csv')

In [18]:
df_spy= pd.read_csv('us_2024_ticker combined versions/SPY_Combined.csv')
df_spy['PriceChange']=((df_spy['<CLOSE>']-df_spy['<OPEN>'])/df_spy['<OPEN>'])*100
df_spy.to_csv('us_2024_ticker combined versions/SPY_Combined_WithPriceChange.csv')

In [19]:
df_eth

,<TICKER>,<PER>,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,PriceChange
0,ETHUSDT,60,240101,0,2281.87,2297.18,2281.27,2295.51,10771.9183,0.597755
1,ETHUSDT,60,240101,10000,2295.52,2306.60,2292.90,2303.72,8413.4260,0.357218
2,ETHUSDT,60,240101,20000,2303.72,2304.72,2291.20,2293.02,5808.2533,-0.464466
3,ETHUSDT,60,240101,30000,2293.03,2294.50,2271.00,2273.81,10745.7360,-0.838192
4,ETHUSDT,60,240101,40000,2273.80,2279.86,2265.24,2279.55,9681.5762,0.252881
...,...,...,...,...,...,...,...,...,...,...
7005,ETHUSDT,60,241019,10000,2639.70,2646.00,2635.31,2635.89,5764.6777,-0.144335
7006,ETHUSDT,60,241019,20000,2635.90,2648.40,2635.22,2647.11,4939.6199,0.425282
7007,ETHUSDT,60,241019,30000,2647.11,2663.49,2645.74,2646.41,8568.7462,-0.026444
7008,ETHUSDT,60,241019,40000,2646.41,2650.97,2640.55,2640.74,4571.9629,-0.214253
7009,ETHUSDT,60,241019,50000,2640.73,2647.53,2640.73,2645.57,1693.5340,0.183283

In [20]:
df_qqq

,<TICKER>,<PER>,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,PriceChange
0,QQQ,60,240102,90000,405.840,406.08,402.500,403.52,692604,-0.571654
1,QQQ,60,240102,100000,403.575,404.16,401.745,402.37,563261,-0.298581
2,QQQ,60,240102,110000,402.350,404.14,402.325,403.95,425764,0.397664
3,QQQ,60,240102,120000,404.020,404.18,402.530,402.60,237387,-0.351468
4,QQQ,60,240102,130000,402.590,403.11,401.830,402.00,267905,-0.146551
...,...,...,...,...,...,...,...,...,...,...
1406,QQQ,60,241018,110000,493.880,495.57,493.880,494.16,197661,0.056694
1407,QQQ,60,241018,120000,494.190,495.39,493.550,494.80,145482,0.123434
1408,QQQ,60,241018,130000,494.820,495.44,494.430,494.57,135522,-0.050523
1409,QQQ,60,241018,140000,494.510,495.08,493.720,494.78,124725,0.054600
1410,QQQ,60,241018,150000,494.690,494.80,493.910,494.52,233181,-0.034365

In [21]:
df_spy

,<TICKER>,<PER>,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,PriceChange
0,SPY,60,240102,90000,472.160,472.79,471.37,472.27,1063758,0.023297
1,SPY,60,240102,100000,472.275,472.70,471.31,471.64,811607,-0.134456
2,SPY,60,240102,110000,471.670,473.29,471.64,473.17,688103,0.318019
3,SPY,60,240102,120000,473.190,473.66,472.59,472.64,600351,-0.116232
4,SPY,60,240102,130000,472.650,472.97,472.00,472.10,543311,-0.116365
...,...,...,...,...,...,...,...,...,...,...
1406,SPY,60,241018,110000,583.520,584.46,583.52,583.89,98495,0.063408
1407,SPY,60,241018,120000,583.930,585.24,583.73,584.68,136403,0.128440
1408,SPY,60,241018,130000,584.690,585.10,584.50,584.60,127115,-0.015393
1409,SPY,60,241018,140000,584.540,585.39,583.92,584.89,123587,0.059876
1410,SPY,60,241018,150000,584.790,584.80,584.06,584.57,465469,-0.037620